server/node_modules/
server/dist/*
server/config/*
server/config_backups/*
server/state/*
server/public/*
server/log/*
_tempFiles/*
nmos_secrets.yml
# misc
.DS_Store
scripts/q-sys-crosspoint-control.lua
